DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ecom
ACCESS_TOKEN_SECRET=your-access-token-secret-here
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=your-refresh-token-secret-here
REFRESH_TOKEN_EXPIRES_IN=7d
SECRET_API_KEY=your-secret-api-key-here
PORT=8000
APP_NAME=EcomNest

ADMIN_NAME="admin"
ADMIN_PASSWORD=your-admin-password-here
ADMIN_EMAIL=admin@example.com
ADMIN_PHONE_NUMBER=0900000000

OTP_EXPIRES=5m

RESEND_API_KEY=your-resend-api-key-here
RESEND_FROM_EMAIL=noreply@example.com

# OAuth 2.0

GOOGLE_CLIENT_ID=your-google-client-id-here
GOOGLE_CLIENT_SECRET=your-google-client-secret-here
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback

FACEBOOK_CLIENT_ID=your-facebook-client-id-here
FACEBOOK_CLIENT_SECRET=your-facebook-client-secret-here
FACEBOOK_REDIRECT_URI=http://localhost:8000/auth/facebook/callback

GITHUB_CLIENT_ID=your-github-client-id-here
GITHUB_CLIENT_SECRET=your-github-client-secret-here
GITHUB_REDIRECT_URI=http://localhost:8000/auth/github/callback

OAUTH_ALLOWED_REDIRECT_URIS=http://localhost:3000/oauth-callback
OAUTH_DEFAULT_REDIRECT_URI=http://localhost:3000/oauth-callback
